Package: mdvr
Version: 1.5-1
Section: base
Priority: optional
Architecture: all
Depends: ffmpeg, python3 (>= 3.11), python3-venv, curl, libcurl4, wireguard, tightvncserver, xorg, chromium, chromium-l10n
Maintainer: Leavemark Dev bozhokrodion02@gmail.com
Description: DVR app that record video from rtsp and upload to ftp.
