[Unit]
Description=Run My Custom Service every 3 minutes
Requires=dvr_upload.service

[Timer]
Unit=dvr_upload.service
OnBootSec=3min
OnUnitActiveSec=3min
Persistent=true

[Install]
WantedBy=timers.target
