[Unit]
Description=control daemon
Wants=dvr_modem.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/dvr/scripts
ExecStart=/opt/dvr/scripts/modem_connector.sh

[Install]
WantedBy=multi-user.target
