[Unit]
Description=control daemon
Wants=dvr_upload.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/dvr/dvr_video
ExecStart=/opt/dvr/venv/bin/python /opt/dvr/dvr_video/ftp_upload.py

[Install]
WantedBy=multi-user.target
