[Unit]
Description=Upload video to ftp

[Timer]
Unit=dvr_upload.service
OnBootSec=3min
OnUnitActiveSec=3min
Persistent=true

[Install]
WantedBy=timers.target
