[Unit]
Description=Timer for modem connector (boot, then every 30 minutes)

[Timer]
Unit=mdvr_modem.service
OnBootSec=1min
OnUnitActiveSec=30min

[Install]
WantedBy=timers.target
