[Unit]
Description=Check and limit size of the "materials" folder
Wants=mdvr_space_check.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/mdvr/dvr_video
ExecStart=/opt/mdvr/venv/bin/python /opt/mdvr/dvr_video/space_check.py

[Install]
WantedBy=multi-user.target