[Unit]
Description=Run modem connector script
Wants=mdvr_modem.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/mdvr/scripts
ExecStart=/opt/mdvr/scripts/modem_connector.sh

[Install]
WantedBy=multi-user.target
