[Unit]
Description=Run FTP upload script
Wants=mdvr_upload.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/mdvr/dvr_video
ExecStart=/opt/mdvr/venv/bin/python /opt/mdvr/dvr_video/ftp_upload.py

[Install]
WantedBy=multi-user.target
