[Unit]
Description=mDVR web server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mdvr/dvr_web
ExecStart=/opt/mdvr/venv/bin/python /opt/mdvr/dvr_web/server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
