[Unit]
Description=Run check modem scripts every 1 hour

[Timer]
Unit=mdvr_modem.service
OnBootSec=10min
OnUnitActiveSec=2h
Persistent=true

[Install]
WantedBy=timers.target
