[Unit]
Description=Daemon that control folder size "materials" of project mDVR
Wants=mdvr_space_check.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/mDVR/dvr_video
ExecStart=/opt/mDVR/venv/bin/python /opt/mDVR/dvr_video/space_check.py

[Install]
WantedBy=multi-user.target