[Unit]
Description=Timer for VPN connectivity check (boot, then every 10 minutes)

[Timer]
Unit=mdvr_vpn_check.service
OnBootSec=3min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target