[Unit]
Description=Timer for system guard (boot, then every 30 minutes)

[Timer]
Unit=mdvr_system_guard.service
OnBootSec=1min
OnUnitActiveSec=30min

[Install]
WantedBy=timers.target