[Unit]
Description=Timer for mDVR reed switch daemon (boot, then every 30 minutes)

[Timer]
Unit=mdvr_rs.service
OnBootSec=1min
OnUnitActiveSec=30min

[Install]
WantedBy=timers.target
