[Unit]
Description=Timer for FTP upload (boot, then every 3 minutes)

[Timer]
Unit=mdvr_upload.service
OnBootSec=3min
OnUnitActiveSec=3min

[Install]
WantedBy=timers.target
