[Unit]
Description=run mdvr_system_guard every 3 hours

[Timer]
Unit=mdvr_system_guard.service
OnBootSec=2min
OnUnitActiveSec=3h

[Install]
WantedBy=timers.target