[Unit]
Description=control daemon
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mDVR/dvr_video
ExecStart=/opt/mDVR/venv/bin/python /opt/mDVR/dvr_video/main.py
Restart=always
RestartSec=10
WatchdogSec=360

[Install]
WantedBy=multi-user.target
