[Unit]
Description=control daemon
Wants=mdvr_modem.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/mDVR/scripts
ExecStart=/opt/mDVR/scripts/modem_connector.sh

[Install]
WantedBy=multi-user.target
