[Unit]
Description=Timer for materials folder size check (daily)

[Timer]
Unit=mdvr_space_check.service
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target