[Unit]
Description=mDVR web
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mDVR/dvr_web
ExecStart=/opt/mDVR/venv/bin/python /opt/mDVR/dvr_web/server.py 0.0.0.0:80
Restart=always

[Install]
WantedBy=multi-user.target
